DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=j.listoya.es,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://j.listoya.es
WORKPART_VALIDATION_PASSWORD=123456
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true
DEFAULT_FROM_EMAIL=Partes J Listoya <info@ybarra-motor.es>
GOOGLE_SHEETS_ENABLED=false
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=
